# RHEL 8 variables for rhel-base.pkr.hcl
# This is an example file - users must copy to rhel-8.pkrvars.hcl and provide their own ISO
template = "rhel-8"
distro_name = "RHEL"

# RHEL 8 ISO - Users must provide their own from Red Hat Developer subscription
# Download from: https://developers.redhat.com/products/rhel/download
iso_name = "rhel-8-x86_64-dvd.iso"
# Replace with your RHEL ISO path/URL - either local file:// or authenticated URL
iso_url = "file:///path/to/your/rhel-8-x86_64-dvd.iso"
# Replace with actual checksum from Red Hat
iso_checksum = "sha256:your_actual_rhel_8_iso_checksum_here"

# Boot command for RHEL 8 with kickstart
boot_command = [
  "<tab> inst.text inst.ks=http://{{ .HTTPIP }}:{{ .HTTPPort }}/ks.cfg<enter><wait>"
]

# Default settings
hostname = "rhel8"
username = "admin"
password = "admin"
boot_wait = "10s"